<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<header th:replace="~{fragments/header :: header}"></header>
<head th:replace="~{fragments/header :: nav}"></head>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Contact us</h3>
						<ul class="breadcrumb-tree">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active">Contact us</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<form class="form" th:action="@{/submit}" method="post">
						<label class="form-label" for="name">Name:</label>
						<input class="form-input" type="text" id="name" name="name" required>

						<label class="form-label" for="email">E-mail:</label>
						<input class="form-input" type="email" id="email" name="email" required>

						<label class="form-label" for="subject">Subject:</label>
						<input class="form-input" type="text" id="subject" name="subject" required>

						<label class="form-label" for="message">Message:</label>
						<textarea class="form-textarea" id="message" name="message" rows="5" required></textarea>

						<input class="form-submit" type="submit" value="Submit">
					</form>


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<div th:replace="~{fragments/footer :: newsletter}"/>
		<div th:replace="~{fragments/footer :: footer}"/>
		<div th:replace="~{fragments/footer :: scripts}"/>
