<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<header th:replace="~{fragments/header :: header}"></header>
<head th:replace="~{fragments/header :: nav}"></head>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter"  >

								<form class="form-category" action="/store" method="get" >
									<div class="form-group required-control" th:each="category : ${allCategories}">
										<label th:text="${category.getName()}"></label>
										<input type="checkbox" th:name=${category.getName()} th:checked="${category.isChecked()}" th:onclick="submit()"/>
									</div>


								</form>



							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<ul>
								<li><a  onclick="addParams(50,1)">Under $50</a></li>
								<li><a  onclick="addParams(100,50)">$50 - $100</a></li>
								<li><a  onclick="addParams(200,100)">$100 - $200</a></li>
								<li><a  onclick="addParams(500,200)">$200 - $500</a></li>
								<li><a  onclick="addParams(999999999, 500)">Above $500</a></li>
							</ul>

						</div>
						<!-- /aside Widget -->



						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Top selling</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="/./img/product01.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="/./img/product02.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="/./img/product03.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<form action="" method="get">
									<label>
										Show
										<select  name="sortingType" onchange="this.form.submit()">
											<option value="0" th:text="${sortingDisplayName}"></option>
											<option value="asc" th:if="${sortingDisplayName != 'Lowest Prices'}">Lowest Prices</option>
											<option value="desc" th:if="${sortingDisplayName != 'Highest Prices'}">Highest Prices</option>
											<option value="relevance" th:if="${sortingDisplayName != 'Best Sellers'}">Best Sellers</option>
											<option value="unsorted" th:if="${sortingDisplayName != 'Any'}">Any</option>

										</select>

									</label>
									<input type="hidden" name="max" th:value="${selectedMax}">
									<input type="hidden" th:if="${laptops}" name="Laptops" th:value="on">
									<input type="hidden" th:if="${cameras}" name="Cameras" th:value="on">
									<input type="hidden" th:if="${headsets}" name="Headsets" th:value="on">
									<input type="hidden" th:if="${smartphones}" name="Smartphones" th:value="on">
									<input type="hidden" th:if="${priceMinParam}" name="priceMin" th:value="${priceMinParam}">
									<input type="hidden" th:if="${priceMaxParam}" name="priceMax" th:value="${priceMaxParam}">







								</form>

								<form action="" method="get">
									<label>
										Show
										<select  name="max" onchange="this.form.submit()">
											<option value="0"  th:text="${selectedMax}"></option>
											<option value="9" th:if="${selectedMax != 9}" >9</option>
											<option value="18" th:if="${selectedMax != 18}" >18</option>
											<option value="27" th:if="${selectedMax != 27}"  >27</option>

										</select>
										items per page
									</label>
									<input type="hidden" name="sortingType" th:value="${sortingType}">
									<input type="hidden" th:if="${laptops}" name="Laptops" th:value="on">
									<input type="hidden" th:if="${cameras}" name="Cameras" th:value="on">
									<input type="hidden" th:if="${headsets}" name="Headsets" th:value="on">
									<input type="hidden" th:if="${smartphones}" name="Smartphones" th:value="on">

								</form>

							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							<div class="col-md-4 col-xs-6" th:each="product : ${productsPaginated}">
								<div class="product">
									<div class="product-img">
										<img src="/./img/product01.png" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category" th:text="${product.getCategory().getName()}">category name goes here</p>
										<h3 class="product-name" th:text="${product.getName()}"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">price <del class="product-old-price" th:text="${product.getPrice()}">price</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>

										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->


						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<ul class="store-pagination" th:if="${totalPages} > 1" th:each="i: ${#numbers.sequence(totalPages,1)}">
								<li th:if="${currentPage != i}">
									<a th:href="@{'?page='+${i}}+'&max='+${selectedMax}+'&sortingType='+${sortingType}+ ${filtersOn != null and filtersOn != '' ? filtersOn : ''}+${priceRangeFilter != null and priceRangeFilter != '' ? priceRangeFilter : ''}">[[${i}]]</a>
								</li>
								<li th:unless="${currentPage != i}" class="active">[[${i}]]</li>
							</ul>

						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->



			<script>
    function addParams(priceMax,priceMin) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('priceMax', priceMax);
        urlParams.set('priceMin', priceMin);
        const newUrl = window.location.pathname + '?' + urlParams.toString();
        window.location.href = newUrl;
    }
</script>

<div th:replace="~{fragments/footer :: newsletter}"/>
<div th:replace="~{fragments/footer :: footer}"/>
<div th:replace="~{fragments/footer :: scripts}"/>
